<%- include("partials/header.ejs") %>

<h1>About Us</h1>
<h5><%= about.me %></h5>
<p><%= about.github %><a><%= about.gitlink %></a></p>
<p><%= about.linkedin %><a><%= about.link %></a></p>

<%- include("partials/footer.ejs") %>
